<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="Purchase" connectionString="data source=***; initial catalog=Purchase; user id=saba;password=*****" providerName="System.Data.EntityClient" />
	  <add name="TsgDB" connectionString="data source=******; initial catalog=TsgDB; user id=saba;password=*********" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>

